[Unit]
Description=x410 vsock

[Service]
ExecStartPre=/bin/mkdir -p /tmp/.X11-unix
ExecStartPre=/bin/rm -f /tmp/.X11-unix/X0
ExecStart=/usr/bin/socat -b65536 UNIX-LISTEN:/tmp/.X11-unix/X0,fork,mode=777 VSOCK-CONNECT:2:6000

[Install]
WantedBy=default.target
